<p style="color: green"><%= notice %></p>

<div class="bg-white">
  <div>
    <div id="filter-drawer" style="translate: 100vw; transition: all 0.1s ease-in-out" class=" fixed top-0 right-0 lg:hidden z-40 h-screen p-4 overflow-y-auto  bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
      <div class="fixed inset-0 z-10 bg-black bg-opacity-25"></div>

      <div class="fixed inset-0 z-40 flex ">
        <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl" id="filter-modal">
          <div class="flex items-center justify-between px-4">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button id="close-filter" type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
              <i class="h-6 w-6 fa-solid fa-close"></i>
            </button>
          </div>
          <div class="p-4">
            <%= render partial: "category-filter" %>
          </div>
        </div>
      </div>
    </div>


    <main class="mx-auto max-w-7xl px-2 sm:px-2 lg:px-4">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-8">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-xl">Seu Cardápio</h1>

        <div class="flex items-center">
          <div class="relative inline-block text-left">
            <div>
              <button type="button" data-dropdown-toggle="filter-menu" class="items-center  group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
                Sort
                <i class="fa-solid fa-chevron-down ml-1"></i>
              </button>
            </div>

            <div class="absolute hidden right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="filter-menu">
              <div class="py-1" role="none">
                <a href="#" class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Most
                  Popular</a>
                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Best
                  Rating</a>
                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Newest</a>
                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Price:
                  Low to High</a>
                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-4">Price:
                  High to Low</a>
              </div>
            </div>
          </div>


          <button type="button" class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden" id="filter-button">
            <i class=" fa-solid fa-filter "></i>
          </button>
        </div>
      </div>

      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <h2 id="products-heading" class="sr-only">Products</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          <div class="hidden lg:block">
            <%= render partial: "category-filter" %>
          </div>

          <div class="lg:col-span-3">

            <div class="bg-white" id="products">
              <div class="mx-auto max-w-2xl px-4 lg:max-w-7xl ">
                <div class=" mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8
              ">

                  <% @products.each do |product| %>
                    <%= render product %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

<%= link_to "New product", new_product_path %>
